extends ../assets/pug/templates/base

block variables 
    - title = 'W8 Parser Platform'

block main
    main.page.page-catalog-auto-main
        include ../assets/pug/modules/new-auto
        include ../assets/pug/modules/new-lots