extends ../assets/pug/templates/base

block variables 
    - title = 'W8 Parser Platform - Catalog Auto'
    - const crums = [{link: '/', text: 'Головна'}, {link: '/catalog-auto.html', text: 'Каталог Авто'}]

block main
    main.page.page-catalog-auto-main
        .container
            ul.crums.mt-4
                each crum in crums
                    li
                        a.text.text-s.grey(href=crum.link)=crum.text

            h3.text.text-xl.bold-value.mt-1 Каталог авто

        include ../assets/pug/modules/search-block

        section.catalog-inner.mt-4
            .container
                .grid-container.cols-12.offset-3.align-start.space-between
                    .col-1-4
                        include ../assets/pug/layouts/filters/filter-auto
                    .col-4-13
                        .bar-view.views-type
                            include ../assets/pug/modules/catalog-auto
                        .tiles-view.views-type
                            .grid-container.cols-3.offset-2
                                include ../assets/pug/modules/catalog-auto-tile
                        .flex-container.space-center.mt-4
                            +Button('light', 'col-3', 'Більше лотів')
                        
                        .pagination.mt-6
                            button.pagination-btn.left
                                +Icon('arrow', '#000')
                            ul.pagination-list
                                li.pagination-item.active 1
                                li.pagination-item 2
                                li.pagination-item 3
                                li.pagination-item 5
                                li.pagination-item 6
                                li.pagination-item 7
                            button.pagination-btn.right
                                +Icon('arrow', '#000')

        include ../assets/pug/modules/new-auto
        include ../assets/pug/modules/new-lots