.language
    ul.language-list.flex-container
        li.language-item.active
            a.language-link.text.text-s.uppercase.bold-value(href="#") UA

        li.language-item
            a.language-link.text.text-s.uppercase.bold-value(href="#") RU