-
    const navbarItems = [
        {href: 'index.html', text: 'Головна', icon: 'user', active: 'active'},
        {href: 'catalog-auto.html', text: 'Каталог авто', icon: 'user', active: ''},
        {href: 'catalog-lots.html', text: 'Каталог лотів', icon: 'user', active: ''},
        {href: 'blog.html', text: 'Блог', icon: 'user', active: ''},
        {href: 'marks.html', text: 'Марки', icon: 'user', active: ''}
    ]

nav#navbar.navbar
    ul.navbar-list.flex-container.space-between.row.column-msd.row-ld
        each item in navbarItems
            li.navbar-item.mb-msd-3.mb-ld-0.mh-ld-2(class=item.active)
                a.navbar-link.mh-a(href=item.href)
                    span.favicon.m-a
                        +Icon(item.icon, '#231f1f')
                    span.text.text-m.bold.mh-a=item.text
