form.ml-5.mr-5(action="post")
    .search-container.flex-container.space-between.align-center
        input.text.text-s(type="text" name="search" placeholder="Пошук по сайту")
        button.icon(data-hover='none')
            img(src="/img/icons/loop.svg", alt="icon") 