&-banner
    background-color: #fff
    background-image: url('#{$image}/banner-mobile-bg.jpg')
    background-size: 100% 100%
    background-repeat: no-repeat
    background-position: right center
    min-height: 100vh
    position: relative

    +screen($dw-ssd)
        background-image: url('#{$image}/banner-bg.png')
        background-size: auto 100%

    .container
        margin: auto

    &-logo
        background-color: rgba(0, 0, 0, 0.5)
        padding: rem(20px)
        width: 100vw
        margin: auto auto 0
        text-align: center
        display: block
        bottom: 2%
        right: 12%

        img
            width: rem(215px)

        +screen($dw-ssd)
            width: rem(230px)
            position: absolute
            background-color: transparent

            img
                width: 100%

        +screen($dw-smd)
            width: rem(469px)

    &-content
        .title, strong
            display: none

            +screen($dw-ssd)
                display: block

        .text
            +screen-max($dw-max-ssd)
                color: #fff
