.navigation{
    margin-top: 60px;
    padding: 0px 14px;


    &-list{
        display: flex;
        align-items: center;
        list-style: none;
        font-size: 18px;
        overflow-x: auto;
    }

    &-item{
        margin-right: 16px;
        background-color: #f3f2f7;
        color: #42424a;
        padding: 10px 21px;
        border-radius: 30px;
    }

}