.price-wrapper{
    width: 100%;
    height: 50px;
    max-height: 50px;
    margin-top: auto;


    span{
        margin-top: auto;
        font-size: 18px;
        display: block;
        margin-bottom: 10px;

        &.old-price{
            color: rgb(159, 159, 159);
            text-decoration: line-through;
            font-size: 14px;
            margin-bottom: 2px;
        }

        .new-price{
            color: rgb(255, 82, 82);
        }
    }
}