section.snapshot.pv-10(data-scroll='smoothscroll')
    .container
        .flex-container
            h3.text.text-large-l.bold.white.col-7.ml-a W8 Shipping - офіційний і авторизований представник Copart в Україні