section.snapshot-messengers-body.mb-10
    .container
        .flex-container.morph-bg.radius-5.pv-8.pr-10
            article.picture.col-4
                img(src="./img/png/iphone.png", alt="phones")

            article.descriptions.col-8
                .content
                    h3.text.text-large-xl.bold-value.mb-6 Щоденні пропозиції по автомобілям із США!

                    .flex-container.space-beetwen
                        ul.descriptions-list.col-8
                            li.text.text-large-s.regular-value.mb-3 Отримуйте щодня, найвигідніші пропозиції про лоти на аукціонах США.

                            li.text.text-large-s.regular-value Публікуємо тільки актуальні автомобілі з прорахунком вартості в Україні.

                        .messengers-buttons.flex-container.column.space-between.col-3.ml-a.mr-3
                            +MessengersButton('telegram', '#', '#fff')
                            +MessengersButton('viber', '#', '#fff')