-
    const iconPath = './img/media-icons'
    const socils = [
        {name: 'telegram-2', href: '#'},
        {name: 'viber', href: '#'},
        {name: 'messenger', href: '#'},
        {name: 'linkedIn', href: '#'},
        {name: 'tik-tok', href: '#'},
        {name: 'instagram', href: '#'},
        {name: 'facebook', href: '#'},
        {name: 'youtube', href: '#'}
    ]

main.footer-main.pv-1.ph-2

    .flex-container.space-between
        article.contacts.col-2.flex-container.column
            h4.text.text-xl.bold-value.mt-6.mb-3 Наші контакти
            
            ul.contacts-list
                li.contacts-item.mb-3
                    a.contacts-link.phone.text.text-l.grey-1(href="")
                        .favicon
                            +Icon('phone', '#000')
                        .spacer
                        span.text +38 (067) 444 88 20
 
                li.contacts-item.mb-1
                    a.contacts-link.email.text.text-l.grey-1(href="")
                        .favicon
                            +Icon('email', '#000')
                        .spacer
                        span.text info@w8shipping.ua



        article.media.col-6.ml-a.mr-a.flex-container.column
            h4.text.text-xl.bold-value.mt-6.mb-3 Ми в мессенджерах, соціальних мережах

            .social
                ul.social-list.m-a.flex-container.align-center.space-between
                    each link in socils
                        li.social-item
                            a.social-link.icon(href=link.href, class=link.name)
                                +Icon(link.name, '#000')

        article.flag.col-2
            img(src='./img/png/flags.png' alt='w8 and copart')
