-
    const locationArray = [
        {city: 'Київ', address: 'вул. Паньківська, 27/78', href: '#'},
        {city: 'Львів', address: 'вул. Академіка Андрія Сахарова, 43', href: '#'},
        {city: 'Харьків', address: 'вул. Гімназійна набережна, 4', href: '#'},
        {city: 'Одеса', address: 'Французьки бульвар, 54/23', href: '#'},
        {city: 'Дніпро', address: 'пр-т, Олександра Поля, 100', href: '#'}
    ]

header.footer-header
    ul.location-list.flex-container.space-between-ld.align-center
        each locate in locationArray
            li.location-item.flex-container.align-center.mh-ld-1
                span.marker.mr-1
                    img(src="./img/icons/location.svg", alt="locate")
                
                .text 
                    h5.text.bold-value=locate.city
                    span.text.text-xs.regular-value.grey-2(href=locate.href)=locate.address
                    a.link.text.text-s.regular-value.mt-1 Побудувати маршрут