-
    const dropdownPopularList2 = ['2.0 SEL Premium R-Line 4MOTION', '2.0 SEL Premium R-Line 4MOTION', '2.0 SEL Premium R-Line 4MOTION']

.grid-container.cols-12.offset-2
    .add-new-comparison.last-child(data-open="open-modal")
        button.btn.btn-black
            span.text.text-m.bold.mr-2 Додати авто
            +Icon('plus', '#fff')

    .col-1-13.pv-2
        h5.text.bold.black-light Обрані автомобілі

    .col-1-4.flex-container.align-center
        span.text.text-xs.grey.semibold.pv-2 Обрані автомобілі

    .col-4-7.comparison-item
        .morph-bg.p-2.radius-2
            span.text.bold.block.center Volkswagen Tiguan 2019

            .picture
                img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")

            span.text.text-xl.bold.block.center.mb-3 від 26 900 USD

            .dropdown-block
                span.current-link
                    i.ellipsis 2.0 SEL Premium R-Line 4MOTION
                ul.dropdown-list
                    each item in dropdownPopularList2
                        li.dropdown-item
                            span.dropdown-link.ellipsis=item

    .col-7-10.comparison-item
        .morph-bg.p-2.radius-2
            span.text.bold.block.center Volkswagen Tiguan 2019

            .picture
                img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")

            span.text.text-xl.bold.block.center.mb-3 від 26 900 USD

            .dropdown-block
                span.current-link
                    i.ellipsis 2.0 SEL Premium R-Line 4MOTION
                ul.dropdown-list
                    each item in dropdownPopularList2
                        li.dropdown-item
                            span.dropdown-link.ellipsis=item

    .col-10-13.comparison-item.noactive
        .morph-bg.p-2.radius-2
            span.text.bold.block.center Volkswagen Tiguan 2019

            .picture
                img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")

            span.text.text-xl.bold.block.center.mb-3 від 26 900 USD

            .dropdown-block
                span.current-link
                    i.ellipsis 2.0 SEL Premium R-Line 4MOTION
                ul.dropdown-list
                    each item in dropdownPopularList2
                        li.dropdown-item
                            span.dropdown-link.ellipsis=item

    .col-1-13.pv-2
        h5.text.text-m.bold.black-light Огляд


    .col-1-4.flex-container.align-center
        span.text.text-xs.grey.semibold.pv-2 Ціна в салоні

    .col-4-7.comparison-item
        span.text.text-m.black-light.block.morph-bg.center.p-2.radius-2 $38 800

    .col-7-10.comparison-item
        span.text.text-m.black-light.block.morph-bg.center.p-2.radius-2 $38 800

    .col-10-13.comparison-item.noactive
        span.text.text-m.black-light.block.morph-bg.center.p-2.radius-2 $38 800


    .col-1-4.flex-container.align-center
        span.text.text-xs.grey.semibold.pv-2 Ціна в салоні

    .col-4-7.comparison-item
        span.text.text-m.black-light.block.morph-bg.center.p-2.radius-2 $38 800

    .col-7-10.comparison-item
        span.text.text-m.black-light.block.morph-bg.center.p-2.radius-2 $38 800

    .col-10-13.comparison-item.noactive
        span.text.text-m.black-light.block.morph-bg.center.p-2.radius-2 $38 800


    .col-1-4.flex-container.align-center
        span.text.text-xs.grey.semibold.pv-2 Ціна в салоні

    .col-4-7.comparison-item
        span.text.text-m.black-light.block.morph-bg.center.p-2.radius-2 $38 800

    .col-7-10.comparison-item
        span.text.text-m.black-light.block.morph-bg.center.p-2.radius-2 $38 800

    .col-10-13.comparison-item.noactive
        span.text.text-m.black-light.block.morph-bg.center.p-2.radius-2 $38 800


    .col-1-4.flex-container.align-center
        span.text.text-xs.grey.semibold.pv-2 Ціна в салоні

    .col-4-7.comparison-item
        span.text.text-m.black-light.block.morph-bg.center.p-2.radius-2 $38 800

    .col-7-10.comparison-item
        span.text.text-m.black-light.block.morph-bg.center.p-2.radius-2 $38 800

    .col-10-13.comparison-item.noactive
        span.text.text-m.black-light.block.morph-bg.center.p-2.radius-2 $38 800

    .col-1-13.pv-2
        h5.text.text-m.bold.black-light Фотографії екстер'єру


    .col-1-4.flex-container.align-center
        span.text.text-xs.grey.semibold.pv-2 Спереду ¾, звернений вліво

    .col-4-7.comparison-item
        .picture
            img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")

    .col-7-10.comparison-item
        .picture
            img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")

    .col-10-13.comparison-item.noactive
        .picture
            img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")


    .col-1-4.flex-container.align-center
        span.text.text-xs.grey.semibold.pv-2 Спереду ¾, звернений вліво

    .col-4-7.comparison-item
        .picture
            img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")

    .col-7-10.comparison-item
        .picture
            img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")

    .col-10-13.comparison-item.noactive
        .picture
            img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")

    .col-1-4.flex-container.align-center
        span.text.text-xs.grey.semibold.pv-2 Спереду ¾, звернений вліво


    .col-4-7.comparison-item
        .picture
            img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")

    .col-7-10.comparison-item
        .picture
            img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")

    .col-10-13.comparison-item.noactive
        .picture
            img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")


    .col-1-4.flex-container.align-center
        span.text.text-xs.grey.semibold.pv-2 Спереду ¾, звернений вліво

    .col-4-7.comparison-item
        .picture
            img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")

    .col-7-10.comparison-item
        .picture
            img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")

    .col-10-13.comparison-item.noactive
        .picture
            img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")


    .col-1-13.pv-2
        h5.text.text-m.bold.black-light Фотографії інтер'єру

    .col-1-4.flex-container.align-center
        span.text.text-xs.grey.semibold.pv-2 Спереду ¾, звернений вліво

    .col-4-7.comparison-item
        .picture
            img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")

    .col-7-10.comparison-item
        .picture
            img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")

    .col-10-13.comparison-item.noactive
        .picture
            img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")


    .col-1-4.flex-container.align-center
        span.text.text-xs.grey.semibold.pv-2 Спереду ¾, звернений вліво

    .col-4-7.comparison-item
        .picture
            img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")

    .col-7-10.comparison-item
        .picture
            img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")

    .col-10-13.comparison-item.noactive
        .picture
            img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")


    .col-1-4.flex-container.align-center
        span.text.text-xs.grey.semibold.pv-2 Спереду ¾, звернений вліво

    .col-4-7.comparison-item
        .picture
            img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")

    .col-7-10.comparison-item
        .picture
            img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")

    .col-10-13.comparison-item.noactive
        .picture
            img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")


    .col-1-4.flex-container.align-center
        span.text.text-xs.grey.semibold.pv-2 Спереду ¾, звернений вліво

    .col-4-7.comparison-item
        .picture
            img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")

    .col-7-10.comparison-item
        .picture
            img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")

    .col-10-13.comparison-item.noactive
        .picture
            img(src="./img/jpg/cars/vw-golf.jpg" alt="Volkswagen")

    .col-4-7.comparison-item.flex-container.mt-2
        +Button('black', 'col-12', 'Хочу такий автомобіль')

    .col-7-10.comparison-item.flex-container.mt-2
        +Button('black', 'col-12', 'Хочу такий автомобіль')

    .col-10-13.comparison-item.noactive.flex-container.mt-2
        +Button('black', 'col-12', 'Хочу такий автомобіль')
