footer.footer.mt-5#footer
    include ./components/footer-header
    
    .container
        include ./components/footer-main

        .policy.p-1
            p.text.text-s.center ©ТОВ "Глобал Інтер Трейдінг". This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.