footer#footer.footer
    
    .container
        .morph-bg.p-2.radius-2
            include ./components/footer-header
            include ./components/footer-main

        .ph-1.pv-4
            p.text.text-s.medium.center ©ТОВ "Глобал Інтер Трейдінг". This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.