.banner-form 
    h1.title Обирай авто!
    p.subtitle Ми допоможемо з вибором під  бюджет або знайдемо конкретну марку  

    form
        +Input('banner-name', 'Имя', 'Ваше имя*', 'name')
        +Input('banner-phone', 'Номер телефона:', 'Ваш номер телефона*', 'phone')
