<form class="form" @submit.prevent="submit" :class="{'ready' : showing}"> 
    <div class="form-group" :class="{'submit' : submitStatus === 'OK'}">
        <input 
            class="form__input" 
            :class="{'error' : $v.name.$error}"
            type="name" 
            v-model.trim="$v.name.$model" 
            placeholder="Название компании"/>
        <input 
            class="form__input" 
            :class="{'error' : $v.mail.$error}"
            type="email" 
            v-model.trim="$v.mail.$model"
            placeholder="Email"/>
        <input 
            class="form__input"
            :class="{'error' : $v.phone.$error}"
            type="tel" 
            v-model.trim="$v.phone.$model"
            placeholder="Телефон"/>
    </div>
    <Button :class="{'ready' : showing}" :disabled="submitStatus === 'PENDING'"/>
</form>