.icon
    display: flex
    align-items: center
    justify-content: center

    .favicon
        position: relative
        width: rem(20px, $dw-ld)

        .small
            width: rem(15px, $dw-ld)
