section.video-block.mv-6
    .container
        .morph-bg.radius-2.p-5
            .video-content.flex-container.space-between.align-center

                .video-preview.radius-2.col-6
                    img(src="./img/jpg/blog-pic-1.jpg", alt="picture")
                    .video-play
                        i.play-btn

                .video-text.col-4.m-a
                    
                        h3.text.text-xl.bold-value.mb-3 W8 Shipping

                        .video-list.flex-container.mb-4
                            ul
                            
                                li.text.text-m.regular-value.mb-2 Американська компанія, заснована в 2005 році. Головний офіс в Los Angeles (Каліфорнія)

                                li.text.text-m.regular-value.mb-2 W8 Shipping - доставляє більше 40% всіх завезених авто з США в Україну

                                li.text.text-m.regular-value.mb-2 Лідер ринку з доставки авто в Україні. 6 власних складів в США площею більш ніж 20 000 м²

                                li.text.text-m.regular-value Найбільший офіційний представник аукціону Copart в Україні
                        
                        a.btn.btn-black.col-6(href="#") Детальніше
