section.banner.flex-container.align-center.pt-5.pt-ld-0(data-scroll='smoothscroll')
    .container
        .grid-container.cols-1.cols-ld-2
            include ./components/form
            include ./components/slider