.page-start {
    background: $white;

    .app-header {
        padding: 24px 0px 32px;
        height: 300px;
        background: $gradient-secondary;
        border-bottom-right-radius: 50px;

        .container {
            margin-top: auto;
        }
        &--title {
            font-weight: 700;
            font-size: 48px;
            line-height: 72px;
            text-transform: uppercase;
            color: #7e2e71;
        }

        &--subtitle {
            font-weight: 300;
            font-size: 12px;
            line-height: 18px;
            color: #828282;
        }

        &--description {
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 12px;
        }
    }

    .app-body {
        &--title {
            font-weight: 500;
            font-size: 32px;
            line-height: 48px;
            text-transform: uppercase;
            margin-bottom: 12px;
        }
        &--text {
            margin-bottom: 24px;
        }

        &--timer {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 16px;
            font-weight: 700;
            font-size: 40px;
            line-height: 60px;
            color: #7e2e71;
        }
    }

    .button {
        margin-bottom: 24px;
    }
}
