.page-test {
    background: $white;

    .app-header {
        padding: 24px 0px 32px;
        height: 300px;
        background: $gradient-secondary;
        border-bottom-right-radius: 50px;

        .container {
            margin-top: auto;
        }
        &--title {
            font-weight: 700;
            font-size: 48px;
            line-height: 72px;
            text-transform: uppercase;
            color: #7e2e71;
        }

        &--subtitle {
            font-weight: 300;
            font-size: 12px;
            line-height: 18px;
            color: #828282;
        }

        &--description {
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 12px;
        }
    }

    .app-body {
        &--question {
            margin-bottom: 16px;
        }

        &--buttons-selected {
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            column-gap: 13px;

            .button {
                opacity: 0.6;

                &.selected {
                    opacity: 1;
                }
            }
        }

        &--next-button {
            margin-top: 32px;
            margin-bottom: 12px;
        }

        &--back-button {
            display: flex;
            align-items: center;
            column-gap: 11px;
            width: 82px;
            margin: auto;
        }
    }
}
