.page-verification {
    .app-header {
        padding: 24px 0px;
        &--logo {
            margin-top: auto;
            margin-bottom: 22px;
        }
    }

    .app-body {
        border-top-right-radius: 50px;
    }

    .send-again {
        color: $third;
    }

    .button {
        margin-top: 32px;
        margin-bottom: 24px;
    }
}