-
    const cars = ['audi', 'bmw', 'cadilac', 'lexus', 'mersedes', 'porsche', 'range', 'toyota', 'vw']

.banner-slider
    h1.title.head-1.black-value.uppercase Обирай авто!
    p.subtitle.text.text-large-s.regular-value.mb-2 Ми допоможемо з вибором під  бюджет або знайдемо конкретну марку
    img.slider-triangle(src=`./img/svg/triangle.svg`, alt='triangle')
    .banner-carousel
        ul.carousel-list.flex-container
            each car in cars 
                li.carousel-slide
                    img(src=`./img/png/cars/${car}.png`, alt=car)