$white: #ffffff;
$black: #333333;
$danger: #f94943;
$primary: #95c04a;
$secondary: #00a86b;
$success: #8cc152;
$warning: #ffce54;
$third: #828282;
$gradient-primary: linear-gradient(53.68deg, #edffce 24.64%, #dbd3ff 89%);
$gradient-secondary: linear-gradient(53.68deg, #edffce 24.64%, #dbd3ff 89%);
