&-main
    .contacts
        &-link
            display: flex
            align-items: center

            .spacer
                width: rem(1px, $dw-ld)
                height: rem(7px, $dw-ld)
                background-color: #D7D7D7
                border-radius: rem(5px, $dw-ld)
                margin: auto .5rem

            .favicon
                width: 10%
                overflow: hidden

            &.phone
                &:hover
                    .favicon
                        animation: phoneAnim 0.5s ease infinite

            &.email
                &:hover
                    .favicon
                        animation: mailAnim 0.5s ease infinite

    .media
        text-align: center

        .social
            &-list
                max-width: 75%

            &-link
                width: rem(32px, $dw-ld)
                height: rem(32px, $dw-ld)
                border-radius: 50%
                padding: rem(7px, $dw-ld)

                &:active
                    background: linear-gradient(270.65deg, #F1F2F7 -9.34%, #EDEEF4 108.28%)
                    box-shadow: inset 4px 4px 7.5px rgba(0, 0, 0, 0.14)

@keyframes phoneAnim
    0%
        transform: rotate(18deg)
    12%
        transform: rotate(-8deg)
    24%
        transform: rotate(13deg)
    36%
        transform: rotate(-5deg)
    48%
        transform: rotate(10deg)
    60%
        transform: rotate(-3deg)
    72%
        transform: rotate(5deg)
    100%
        transform: rotate(0deg)

@keyframes mailAnim
    0%
        transform: translate(0%)
    12%
        transform: translate(20%)
    24%
        transform: translate(-20%)
    36%
        transform: translate(10%)
    48%
        transform: translate(-10%)
    60%
        transform: translate(5%)
    72%
        transform: translate(-5%)
    100%
        transform: translate(0%)
