&-header
    background-color: $dark-white

    .location
        &-item
            .marker
                display: block
                width: 2.3rem

                img
                    width: 100%

            &:hover
                .marker
                    animation: markerAmin 1.5s ease forwards

@keyframes markerAmin
    0%
        transform: translateY(0px) rotateY(0deg)
    36%
        transform: translateY(-30px) rotateY(-720deg)
    48%
        transform: translateY(10px) rotateY(0deg) scale(1, 0.8)
    60%
        transform: translateY(-5px) scale(1, 1)
    72%
        transform: translateY(0px) rotate(0deg)
    90%
        transform: translateY(0px) rotate(0deg)
    100%
        