header.header.pv-1.pv-ld-3
    .container
        .flex-container.space-between.align-center.row.column-msd.row-ld
            a.logo(href='#')
                img(src='./img/logo.svg' alt="w8-shipping")

            include ./components/navbar
            include ./components/search
            include ./components/cabinet-button

            include ./components/language
                