extends ./assets/pug/templates/base

block variables 
    - title = 'W8 Parser Platform'

block main
    main.page.page-main

        include ./pages/index/banner/banner
        include ./pages/index/choose-auto/choose-auto
        include ./assets/pug/modules/new-auto
        include ./assets/pug/modules/new-lots
        include ./pages/index/main-form/main-form
        include ./pages/index/snapshot/snapshot
        include ./pages/index/reviews/reviews
        include ./pages/index/blogs/blogs
        include ./pages/index/snapshot/snapshot-messengers-body
        include ./pages/index/video/video
        include ./pages/index/team/team
        include ./pages/index/main-form/main-form-footer
        include ./pages/index/snapshot/snapshot-messengers-footer

        


